*{
	margin: 0px;
	padding: 0px;
}
.header1{
	background-image:url(images/1.jpg);
	background-repeat: repeat-x;
	height: 45px;
}
.header11{
	/*background-color: #f00;*/
	width: 1000px;
	height: 45px;
	margin: 0 auto;
}
.header111 img{
	margin-top:12px;
}
.header111{
	float: left;
}
.header112{
	float: left;
	margin-left: 13px;
	margin-top:12px;
}
.header112 ul li{
	list-style: none;
	float: left;
	padding-right:15px;
	font-size: 16px;
	font-family:微软雅黑 Regular;
	color: white;
}
.header112 ul li a{
	text-decoration: none;
	color: #cecccc;
	font-family: 微软雅黑 Regular;
	font-size: 16px;
}
.header113 img{
	padding-left:74px;
	padding-top: 12px;
	float: left;
}
.header114 a{
	float: left;
	text-decoration: none;
	padding-top: 12px;
	padding-left:12px;
	color: white;
	font-family: 微软雅黑 Regular;
	font-size: 16px;
}
.header115 img{
	padding-top: 8px;
	padding-left: 423px;
	float: left;
}
.header116 p{
	float: left;
	padding-left:6px;
	padding-top: 17px;
	font-size: 12px;
	font-family: 微软雅黑 Regular;
	color: white;
}
.header117 img{
	float: left;
	padding-top: 22px;
	padding-left: 12px;
}
.header118 a img{
	float: right;
	padding-top: 9px;
}
.header2{
	background-image:url(images/2.jpg);
	background-repeat: repeat-x;
	height: 80px;
}
.header22{
	width: 1000px;
	height: 79px;
	margin: 0 auto;
}
.header221 img{
	padding-top:8px;
	float: left;
}
.header222 ul li a{
	list-style: none;
	float: right;
	padding-left: 38px;
	padding-top: 34px;
	text-decoration: none;
	font-size: 16px;
	font-family: 微软雅黑 Regular;
	color: #333333;
}
.header222 ul li{
	list-style: none;
}
.header3{
	width: 1000px;
	height: 230px;
	/*background-color: #00f;*/
	margin: 0 auto;
}
.header31 {
	/*background-color: #ff0;*/
	width: 160px;
	height:230px;
	float: left;
	margin-right: 27px;
}
.header31 img{
	padding-top:35px;
}
.header32{
	/*background-color: #f00;*/
	height: 230px;
	width: 174px;
	float: left;
}
.header321{
	/*background-color: #ff0;*/
	height: 65px;
}
.header321 p{
	font-size: 22px;
	font-family: 微软雅黑 Regular;
	padding-top: 40px;
	color: #666666;
}
.header322{
	/*background-color:#0ff;*/
	height: 75px;
}
.header322 a img{
	padding-top: 47px;
}
.header323{
	/*background-color: #f0f;*/
	height: 56px;
}
.header3231{
	margin-top: 17px;

	width: 39px;
	height: 35px;
	float: left;
}
.header3232{
	margin-top: 17px;

	width: 39px;
	height: 35px;
	float: left;
}
.header3233{
	margin-top: 17px;
	margin-left: 3px;
	width: 30px;
	height: 35px;
	float: left;
}
.p1{
	font-size: 18px;
	font-family: 微软雅黑 Regular;
	color: #333333;
}
.a1{
	font-size: 12px;
	font-family: 微软雅黑 Regular;
	color: #999999;
	text-decoration: none;
}
.header33{
	/*background-color: #ff0;*/
	height: 230px;
	width: 175px;
	float: left;
	margin-left: 100px;
	border-right: 1px solid #eeeeee;
}
.header33 img{
	padding-top: 47px;
}
.header33 p{
	font-size: 12px;
	font-family: 微软雅黑 Regular;
	color: #999999;
	padding-top:28px;
	padding-left: 6px;
}
.header34{
	border-right: 1px solid #eeeeee;
	/*background-color: #f00;*/
	height: 230px;
	width: 203px;
	float: left;
}
.header34 img{
	padding-top: 52px;
	padding-left: 38px;
}
.header34 p a{
	font-size: 12px;
	font-family: 微软雅黑 Regular;
	color: #999999;
	padding-top:10px;
	padding-left: 74px;
	text-decoration: none;
}
.header35 img{
	padding-top: 52px;
	padding-left: 38px;
}
.header35 p a{
	font-size: 12px;
	font-family: 微软雅黑 Regular;
	color: #999999;
	padding-top:10px;
	padding-left: 74px;
	text-decoration: none;
}
#container{
	margin: 0 auto;
	height: 2055px;
	background-color: #f1f1f1;
}
.container1{
	background-color: #f00;
	width: 1000px;
	height: 105px;
	margin: 0 auto;
	padding-top: 32px;

}
.container1 a{
	text-decoration: none;
	font-size: 20px;
	font-family: 微软雅黑 Regular;
	color:#58667d;

}
.container1 ul li{
	list-style:none;
	float: left;
	margin-right: 44px;
	padding-top: 36px;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;

}
.container1 ul li:hover{
	border-bottom:3px solid #50bbdb;
}
.container2{
	width: 1000px;
	height: 803px;
	background-color: #ffffff;
	margin: 0 auto;
}
.container21{
	margin: 0 auto;
	background-color: #ff0;
	height: 80px;
}
.container211{

	float: left;
	height: 80px;
	width: 97px;
}
.container2111{
	width: 83px;
	height: 29px;
	border: 1px solid #cccccc;
	margin-left: 14px;
	margin-top: 26px;
}
.container2111 p{
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
	float: left;
	padding-left: 10px;
	padding-top: 5px;
}
.container2111 img{
	padding-top: 10px;
	float: left;
	padding-left: 7px;
}
.container212{
	float: left;
	height: 80px;
	width: 197px;
}
.container2121{
	width: 181px;
	height: 29px;
	border: 1px solid #cccccc;
	margin-top: 26px;
	margin-left: 17px;

}
.container213{
	float: left;
	height: 80px;
	width: 152px;
}
.container2131{
	width: 134px;
	height: 29px;
	border: 1px solid #cccccc;
	margin-left: 14px;
	margin-top: 26px;
}
.container2131 p{
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
	float: left;
	padding-left: 10px;
	padding-top: 5px;
}
.container2131 img{
	padding-top: 10px;
	float: left;
	padding-left: 67px;
}
.container214{
	float: left;
	height: 80px;
	width: 40px;
}
.container214 img{
	padding-top: 30px;
	padding-left: 20px;
}
.container215{
	float: left;
	height: 80px;
	width: 30px;
}
.container215 p{
	padding-top: 35px;
	padding-left: 15px;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
}
.container216{
	float: left;
	height: 80px;
	width: 128px;
}
.container2161{
	border: 1px solid #cccccc;
	width: 112px;
	height: 29px;
	margin-top: 26px;
	margin-left: 16px;
}
.container217{
	float: left;
	height: 80px;
	width: 38px;
}
.container217 img{
	padding-top: 30px;
	padding-left: 20px;
}
.container218{
	float: left;
	height: 80px;
	width: 170px;
}
.container2181{
	width: 150px;
	height: 30px;
	border: 1px solid #cccccc;
	margin-top: 25px;
	margin-left: 20px;
}
.container2181 p{
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
	padding-left: 11px;
	padding-top: 6px;
}
.container219{
	float: left;
	height: 80px;
	width: 82px;
}
.container219 a img{
	padding-top: 26px;
	padding-left: 17px;
}
.container22{
	height: 40px;
	background-color: #edf8fb;
}
.container22 ul li{
	list-style:none;
	float: left;
}
.list{
	margin-top: 12px;
	margin-right:87px;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#666666;
}
.list1{
	margin-top: 12px;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#666666;
}
.list2{
	margin-top: 12px;
	padding-left: 14px;
}
.container22 ul li a{
	margin-right: 278px;
	text-decoration: none;
}
.container23{
	height: 47px;
	border-bottom: 1px solid #cccccc;
}
.container231{
	float: left;
}
.container232{
	float: left;
}
.container231 p{
	padding-left: 14px;
	margin-right: 10px;
	padding-top: 18px;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
}
.container232 p{
	padding-top: 18px;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
}

.container24{
	height: 94px;
	border-bottom: 1px solid #cccccc;
}
.container241{
	float: left;
}
.container242{
	float: left;
}
.container241 img{
	padding-top:15px;
	padding-left: 14px;
}
.container242 p{
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
	margin-left: 9px;
}
.p11{
	padding-top: 29px;
	padding-bottom: 9px;
}
.container243 ul li{
	margin-top: 40px;
	list-style:none;
	float: left;
	margin-left: 88px;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
}
.sp span{
	margin-left: 12px;
	color: #eb5e17;
}
.li1{
	width: 60px;
	height: 28px;
	border: 1px solid #cccccc;
}
.li1 p{
	padding-left: 5px;
	padding-top: 8px;
	float: left;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
}
.li1 img{
	float: left;
	padding-top: 12px;
	padding-left: 10px;
}
.container25{
	height: 47px;
	border-bottom: 1px solid #cccccc;
}
.container251{
	float: left;
}
.container252{
	float: left;
}
.container251 p{
	padding-left: 14px;
	margin-right: 10px;
	padding-top: 18px;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
}
.container252 p{
	padding-top: 18px;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
}

.container26{
	height: 94px;
	border-bottom: 1px solid #cccccc;
}
.container261{
	float: left;
}
.container262{
	float: left;
}
.container261 img{
	padding-top:15px;
	padding-left: 14px;
}
.container263 ul li{
	margin-top: 40px;
	list-style:none;
	float: left;
	margin-left: 87px;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
}
.p11 span{
	display: block;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
	margin-left: 9px;
}
.sp1{
	padding-top: 9px;
}
.li2{
	margin-left: 3px;
	width: 60px;
	height: 28px;
	border: 1px solid #cccccc;
}
.li2 p{
	padding-left: 5px;
	padding-top: 8px;
	float: left;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
}
.li2 img{
	float: left;
	padding-top: 12px;
	padding-left: 10px;
}
.container27{
	height: 55px;
	border-bottom: 1px solid #cccccc;
}
.container271{
	float: left;
}
.container272{
	float: left;
}
.container271 p{
	padding-left: 14px;
	margin-right: 10px;
	padding-top: 18px;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
}
.container272 p{
	padding-top: 18px;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
}
.container28{
	height: 105px;
	border-bottom: 1px solid #cccccc;
}
.container281{
	float: left;
}
.container282{
	float: left;
}
.container281 img{
	padding-top:15px;
	padding-left: 14px;
}
.container283 ul li{
	margin-top: 40px;
	list-style:none;
	float: left;
	margin-left: 89px;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
}
.p11 span{
	display: block;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
	margin-left: 9px;
}
.sp1{
	padding-top: 9px;
}
.zijia{
	padding-left: 7px;
}
.container29{
	height: 55px;
	border-bottom: 1px solid #cccccc;
}
.container291{
	float: left;
}
.container292{
	float: left;
}
.container291 p{
	padding-left: 14px;
	margin-right: 10px;
	padding-top: 18px;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
}
.container292 p{
	padding-top: 18px;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
}

.container20{
	height: 105px;
	border-bottom: 1px solid #cccccc;
}
.container201{
	float: left;
}
.container202{
	float: left;
}
.container201 img{
	padding-top:15px;
	padding-left: 14px;
}
.container203 ul li{
	margin-top: 40px;
	list-style:none;
	float: left;
	margin-left: 89px;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
}
.p11 span{
	display: block;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
	margin-left: 9px;
}
.sp1{
	padding-top: 9px;
}
.container30 p a{
	text-decoration: none;
	font-size: 16px;
	font-family: 微软雅黑 Regular;
	color: #d9d9d9;
}
.container30 p{
	text-align: center;
	line-height:70px;
}
.container3{
	background-color: #00f;
	height: 135px;
	width: 1000px;
	margin: 0 auto;
	border-bottom: 1px solid #cccccc;
}
.container3 a{
	padding-top: 63px;
	text-decoration: none;
	font-size: 20px;
	font-family: 微软雅黑 Regular;
	color:#58667d;
}
.container3 ul li{
	list-style:none;
	float: left;
	margin-right: 44px;
	padding-top: 38px;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
	color:#333333;
}
.container3 ul li:hover{
	border-bottom:3px solid #50bbdb;
}
.container3 p{
	padding-top: 55px;
}
.container4{
	height: 235px;
	width: 1000px;
	margin: 0 auto;
	border-bottom: 1px solid #cccccc;
}
.container4 p{
	padding-top: 50px;
	font-size: 18px;
	font-family: 微软雅黑 Regular;
	color:#333333;
}
.container4 p a{
	text-decoration: none;
	font-size: 20px;
	font-family: 微软雅黑 Regular;
	color:#58667d;
}
.wode{
	margin-top: 70px;
}
.container5{
	height: 215px;
	width: 1000px;
	margin: 0 auto;
	border-bottom: 1px solid #cccccc;
}
.container5 p{
	padding-top: 50px;
	font-size: 18px;
	font-family: 微软雅黑 Regular;
	color:#333333;
}
.container5 p a{
	text-decoration: none;
	font-size: 20px;
	font-family: 微软雅黑 Regular;
	color:#58667d;
}
.wode1{
	margin-top: 55px;
}
.container6{
	height: 238px;
	width: 1000px;
	margin: 0 auto;
	border-bottom: 1px solid #cccccc;
}
.container6 img{
	padding-top: 30px;
	padding-bottom:45px;
}
.container6 p a{
	text-decoration: none;
	font-size: 20px;
	font-family: 微软雅黑 Regular;
	color:#58667d;
}
.zhaopian{
	padding-top: 15px;
	width: 30px;
	color: #50bbdd;
	font-size: 14px;
	font-family: 微软雅黑 Regular;
}
.zhaopian:hover{
	border-bottom:3px solid #50bbdb;
}
.container7{
	height: 327px;
	width: 1000px;
	margin: 0 auto;
	border-bottom: 1px solid #cccccc;
}
.container71{
	height: 105px;
	width: 250px;
}
.container71 img{
	padding-top: 30px;
	padding-bottom:45px;
	float: left;
	padding-right: 25px;
}
.container72{
	width: 142px;
	height: 150px;
	border: 1px solid #eeeeee;
}
.container72 p{
	padding-top: 7px;
	padding-left: 18px;
	color: #666666;
	font-size: 12px;
	font-family: 微软雅黑 Regular;
}
.container72 img{
	padding-left: 5px;
}
#footer{
	background-image:url(images/3.jpg);
	background-repeat: repeat-x;
	height: 90px;
}
.footer1{
	width: 894px;
	height: 50px;
	margin: 0 auto;
}
.footer11 li{
	list-style:none;
	float: left;
}
.footer11 li a{
	font-size: 16px;
	font-family: 微软雅黑 Regular;
	padding-right:102px;
	line-height: 50px;
	text-decoration: none;
	color: white;
}
.footer2{
	width: 444px;
	height: 41px;
	margin :0 auto;
}
.footer2 p{
	float: left;
	padding-top: 13px;
	color: white;
	font-size: 16px;
	font-family: 微软雅黑 Regular;
}
.footer21{
	padding-right:34px;
}
