*{
	padding:0px;
	margin:0px;
}
#header{
	height: 525px;
	width: 100%;

}
.header-top{
	width: 100%;
	height: 45px;
	background-color: #244d5f;
}
#header .top{
	width: 1003px;
	height: 45px;
	background-color: #244d5f;
	position:relative;
	margin:0 auto;
}
#header .top .pic1{
	position:absolute;
	top:12px;
	left:0px;
}
.top .s1{
	margin-left:29px;
	color:#c5d0d4;
	text-align: center;
	line-height: 45px;
	font-weight: bold;
	font-family: Regular;
	font-size: 15px;
}
.top .s2{
	margin-left:15px;
	text-align: center;
	line-height: 45px;
	color:#a1aaaf;
	font-weight: bold;
	font-family: Regular;
	font-size: 15px;
}
#header .top .pic2{
	position:absolute;
	top:12px;
	left:188px;
}
.top .s3{
	margin-left:99px;
	text-align: center;
	line-height: 45px;
	color:#c5d0d4;
	font-weight: bold;
	font-family: Regular;
	font-size: 15px;

}
#header .top .pic3{
position:absolute;
	top:12px;
	left:815px;
}
#header .top .pic4{
position:absolute;
	top:12px;
	left:855px;
}
.top .s4{
	margin-left:585px;
	text-align: center;
	line-height: 45px;
	color:#c5d0d4;
	font-weight: bold;
	font-family: Regular;
	font-size: 15px;

}
.top .s5{
	margin-left:9px;
	text-align: center;
	line-height: 45px;
	color:#c5d0d4;
	font-weight: bold;
	font-family: Regular;
	font-size: 15px;

}
.header-logo{
	width: 100%;
	height: 80px;
}
.header-logo .logo{
	width: 1003px;
	height: 80px;
	margin:0 auto;
	position:relative;
	/*background-color: pink;*/
}
.logo .pic5{
	position:absolute;
	top:8px;
	left:0px;
}

.logo .list{
	list-style: none;
	margin-left:302px;
}
.logo .list li{

	margin-left: 36px;
	float:left;


}
.logo .list li a{
	text-decoration: none;
	color:#4e4e4e;
	line-height: 80px;
	text-align: center;
	font-size:15px;
	font-family: regular;
}
.logo .list li span{
	width: 80px;
	height: 80px;
	display: block;
	background-color:#50bbdb;
}
.header-banner img{
	width: 100%;
	height:400px;
}
#container{
	width: 1003px;
	height: 2674px;
	/*background-color: pink;*/
	margin:0 auto;
}
.container-top{
	height: 150px;
	width: 1003px;
	position:relative;

}
.container-top input{
	width: 428px;
	height: 34px;
	border:2px solid #52bbdb;
	margin-left:262px;
	margin-top:41px;
}
.container-top .pic7{
	position:absolute;
	top:40px;
	left:691px;
}
.container-top input:hover{
	cursor:pointer;
}
.container-top .pic7:hover{
	cursor:pointer;
}
.container-top .list2{
	list-style: none;
	margin-left: 260px;
	margin-top: 14px;
}
.container-top .list2 li{
	float:left;
	font-size: 13px;
	color:#b7b7b7;
	margin-left: 15px;
	font-weight: bold;
}
.container-jingnei{
	width: 1003px;
	height: 1480px;
	margin:0 auto;
/*	background-color: #00ffff;
*/
}
.container-jingnei p{
	height: 36px;
	width: 1003px;
	/*background-color: red;*/

}
.container-jingnei .s6{
	font-size: 27px;
	font-weight: bold;
	color:#58667d;
}
.container-jingnei .s7{
	font-size: 22px;
	font-weight: 500;
	color:#999999;
	margin-left:37px;
	padding-top: 5px;
}
.container-jingnei .s8{
	font-size: 14px;
	width: 54px;
	font-weight: bold;
	color:#999999;
	margin-left:744px;
	padding-bottom: 3px;
}
.jingnei{
	width: 1003px;
	height: 1444px;

	border-top: 1px solid #abb2be;


}
.box1{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 24px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box1 .pic8{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box1 .pic9{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box1 .box1-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box1 .box1-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box1 .box1-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box1 .box1-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box1-3 .pic10{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box1-3 .s9{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:60px;
}
.jingnei .box1-3 .pic11{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box1-3 .s10{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box1-3 .pic12{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box1-3 .s11{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*第二*/
.box2{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 24px;
	margin-left:7px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box2 .pic13{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box2 .pic14{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box2 .box2-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box2 .box2-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box2 .box2-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box2 .box2-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box2-3 .pic15{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box2-3 .s12{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box2-3 .pic16{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box2-3 .s13{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box2-3 .pic17{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box2-3 .s14{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*san*/
.box3{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 24px;
	margin-left:7px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box3 .pic18{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box3 .pic19{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box3 .box3-1{
	height: 69px;
	width: 328px;
	padding-top:274px;

}
.box3 .box3-1 .box3-p{
	width: 273px;
	height: 39px;
	line-height: 22px;
	font-weight: bold;
	color:#5c5c5c;
	margin-top: 21px;
	font-size:15px;
	padding-left: 22px;

}
.box3 .box3-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box3 .box3-2 span{
	padding-left:22px;
	color:#d9d9d9;
	margin-top: 8px;
}
.jingnei .box3-3 .pic20{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box3-3 .s15{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box3-3 .pic21{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box3-3 .s16{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box3-3 .pic22{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box3-3 .s17{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*si*/
.box4{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 15px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box4 .pic23{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box4 .pic24{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box4 .box4-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box4 .box4-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box4 .box4-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box4 .box4-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box4-3 .pic25{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box4-3 .s18{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box4-3 .pic26{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box4-3 .s19{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box4-3 .pic27{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box4-3 .s20{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*wu*/
.box5{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 15px;
	margin-left:7px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box5 .pic28{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box5 .pic29{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box5 .box5-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box5 .box5-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box5 .box5-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box5 .box5-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box5-3 .pic30{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box5-3 .s21{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box5-3 .pic31{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box5-3 .s22{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box5-3 .pic32{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box5-3 .s23{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*liu*/
.box6{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 15px;
	margin-left:7px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box6 .pic33{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box6 .pic34{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box6 .box6-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box6 .box6-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box6 .box6-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box6 .box6-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box6-3 .pic35{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box6-3 .s24{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box6-3 .pic36{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box6-3 .s25{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box6-3 .pic37{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box6-3 .s26{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*qi*/
.box7{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 15px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box7 .pic38{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box7 .pic39{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box7 .box7-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box7 .box7-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box7 .box7-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box7 .box7-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box7-3 .pic40{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box7-3 .s27{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box7-3 .pic41{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box7-3 .s28{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box7-3 .pic42{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box7-3 .s29{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*ba*/
.box8{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 15px;
	margin-left: 7px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box8 .pic43{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box8 .pic44{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box8 .box8-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box8 .box8-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box8 .box8-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box8 .box8-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box8-3 .pic45{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box8-3 .s30{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box8-3 .pic46{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box8-3 .s31{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box8-3 .pic47{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box8-3 .s32{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*jiu*/
.box9{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 15px;
	margin-left: 7px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box9 .pic48{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box9 .pic49{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box9 .box9-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box9 .box9-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box9 .box9-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box9 .box9-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box9-3 .pic50{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box9-3 .s33{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box9-3 .pic51{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box9-3 .s34{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box9-3 .pic52{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box9-3 .s35{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*jingwai*/
.container-jingwai{
	width: 1003px;
	height: 1043px;
	margin:0 auto;
	/*background-color: #ccffcc;*/

}
.container-jingwai .jingwai-p{
	height: 36px;
	width: 1003px;
	/*background-color: red;*/

}
.container-jingwai .s36{
	font-size: 27px;
	font-weight: bold;
	color:#58667d;
}
.container-jingwai .s37{
	font-size: 22px;
	font-weight: 500;
	color:#999999;
	margin-left:37px;
	padding-top: 5px;
}
.container-jingwai .s38{
	font-size: 14px;
	width: 54px;
	font-weight: bold;
	color:#999999;
	margin-left:744px;
	padding-bottom: 3px;
}
.jingwai{
	width: 1003px;
	height: 1007px;
	border-top: 1px solid #abb2be;
}
/*small1*/
.small1{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 24px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingwai .small1 .img1{
	position:absolute;
	top:0px;
	left:0px;
}
.jingwai .small1 .img2{
	position:absolute;
	top:223px;
	left:0px;
}
.jingwai .small1 .small1-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.small1 .small1-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.small1 .small1-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.small1 .small1-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingwai .small1-3 .img3{
	position:absolute;
	top:378px;
	left:22px;
}
.jingwai .small1-3 .spa1{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingwai .small1-3 .img4{
	position:absolute;
	top:389px;
	left:229px;
}
.jingwai .small1-3 .spa2{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingwai .small1-3 .img5{
	position:absolute;
	top:389px;
	left:273px;
}
.jingwai .small1-3 .spa3{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*small2*/
.small2{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 24px;
	margin-left: 7px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingwai .small2 .img6{
	position:absolute;
	top:0px;
	left:0px;
}
.jingwai .small2 .img7{
	position:absolute;
	top:223px;
	left:0px;
}
.jingwai .small2 .small2-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.small2 .small2-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.small2 .small2-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.small2 .small2-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingwai .small2-3 .img8{
	position:absolute;
	top:378px;
	left:22px;
}
.jingwai .small2-3 .spa4{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingwai .small2-3 .img9{
	position:absolute;
	top:389px;
	left:229px;
}
.jingwai .small2-3 .spa5{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingwai .small2-3 .img10{
	position:absolute;
	top:389px;
	left:273px;
}
.jingwai .small2-3 .spa6{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*small3*/
.small3{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 24px;
	margin-left: 7px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingwai .small3 .img11{
	position:absolute;
	top:0px;
	left:0px;
}
.jingwai .small3 .img12{
	position:absolute;
	top:223px;
	left:0px;
}
.jingwai .small3 .small3-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.small3 .small3-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.small3 .small3-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.small3 .small3-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingwai .small3-3 .img13{
	position:absolute;
	top:378px;
	left:22px;
}
.jingwai .small3-3 .spa7{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingwai .small3-3 .img14{
	position:absolute;
	top:389px;
	left:229px;
}
.jingwai .small3-3 .spa8{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingwai .small3-3 .img15{
	position:absolute;
	top:389px;
	left:273px;
}
.jingwai .small3-3 .spa9{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*small4*/
.small4{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 9px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingwai .small4 .img16{
	position:absolute;
	top:0px;
	left:0px;
}
.jingwai .small4 .img17{
	position:absolute;
	top:223px;
	left:0px;
}
.jingwai .small4 .small4-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.small4 .small4-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.small4 .small4-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.small4 .small4-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingwai .small4-3 .img18{
	position:absolute;
	top:378px;
	left:22px;
}
.jingwai .small4-3 .spa10{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingwai .small4-3 .img19{
	position:absolute;
	top:389px;
	left:229px;
}
.jingwai .small4-3 .spa11{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingwai .small4-3 .img20{
	position:absolute;
	top:389px;
	left:273px;
}
.jingwai .small4-3 .spa12{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*small5*/
.small5{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 9px;
	margin-left: 7px;
/*	background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingwai .small5 .img21{
	position:absolute;
	top:0px;
	left:0px;
}
.jingwai .small5 .img22{
	position:absolute;
	top:223px;
	left:0px;
}
.jingwai .small5 .small5-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.small5 .small5-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.small5 .small5-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.small5 .small5-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingwai .small5-3 .img23{
	position:absolute;
	top:378px;
	left:22px;
}
.jingwai .small5-3 .spa13{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingwai .small5-3 .img24{
	position:absolute;
	top:389px;
	left:229px;
}
.jingwai .small5-3 .spa14{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingwai .small5-3 .img25{
	position:absolute;
	top:389px;
	left:273px;
}
.jingwai .small5-3 .spa15{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*small6*/
.small6{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 9px;
	margin-left: 7px;
/*	background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingwai .small6 .img26{
	position:absolute;
	top:0px;
	left:0px;
}
.jingwai .small6 .img27{
	position:absolute;
	top:223px;
	left:0px;
}
.jingwai .small6 .small6-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.small6 .small6-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.small6 .small6-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.small6 .small6-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingwai .small6-3 .img28{
	position:absolute;
	top:378px;
	left:22px;
}
.jingwai .small6-3 .spa16{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingwai .small6-3 .img29{
	position:absolute;
	top:389px;
	left:229px;
}
.jingwai .small6-3 .spa17{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingwai .small6-3 .img30{
	position:absolute;
	top:389px;
	left:273px;
}
.jingwai .small6-3 .spa18{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
#footer{
	height: 91px;
	width: 100%;

}
#footer .footer-top{
	height: 50px;
	width: 100%;
	background-color:#444b55;
}
#footer .footer-top .top-center{
	height: 50px;
	width: 1003px;
	margin:0 auto;
	/*background-color: red;*/
	position:relative;
}
.top-center .lebal{
	list-style: none;
}
.lebal li{
	float:left;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	color:#ffffff;
	font-family: rehular;
}
.lebal .l1{
	position:absolute;
	left:93px;
}
.lebal .l2{
	position:absolute;
	left:322px;
}
.lebal .l3{
	position:absolute;
	left:512px;
}
.lebal .l4{
	position:absolute;
	left:710px;
}
.lebal .l5{
	position:absolute;
	left:890px;
}
.footer-dig{
	height: 41px;
	width: 100%;
	background-color:#565d65;
}
.footer-dig .dig-center{
	height: 41px;
	width: 1003px;
	margin:0 auto;

	position:relative;
}
.lebal2{
	list-style: none;
}
.lebal2 li{
	float:left;
	font-size:17px;
	color:#ffffff;
	line-height: 41px;
	text-align: center;
}
.lebal2 .l6{
	position:absolute;
	left:295px;
}
.lebal2 .l7{
	position:absolute;
	left:558px;
}