*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}

/*清除浮动*/
.clearfix:before,.clearfix:after{
	display: table;
	content:" ";
}

.clearfix:after{
	clear:both;
}
.clearfix{zoom:1;}


/* top 的css 样式*/
.top{
	background-image: url(../images/top.png);
}
.top_nav{
	background-image: url(../images/top.png);
	width: 980px;
	margin: 0 auto;
}
.top_list{
	float: left;
}
.top_list li{
	font-family: arial;
	color:#fff;
	font-size: 16px;
	float: left;
	margin-top: 12px;
	margin-bottom: 10px;
	margin-right: 15px;
}
.phone{
	float: left;
	margin-left: 60px;
	
}
.phone li{
	font-family: arial;
	color:#fff;
	font-size: 16px;
	float: left;
	margin-top: 12px;
	/*margin-bottom: 12px;*/
	margin-right: 15px;
}
.login{
	float: right;
	
}
.login li{
	font-family: arial;
	color:#fff;
	font-size: 16px;
	float: left;
	margin-top: 12px;
	/*margin-bottom: 12px;*/
	margin-left: 15px;
}


/*//header  css样式*/
.header{
	border-bottom: 1px solid #cccccc;
}
.header_in{
	width: 980px;
	margin: 0 auto;
	
}
#log{
	margin: 8px 0px;

}
.nav{
	float: right;
}
.nav li{
	float: left;
	line-height: 78px;
	font-family: arial;
	color: black;
	font-size: 16px;
	margin-left: 38px;
}

/*//banner  css样式*/
.banner_in{
	width: 980px;
	margin: 0 auto;
}

#address_list li{
	float: left;
	margin-right: 13px;
	margin-top: 22px;
	font-family: arial;
	color: black;
	font-size: 16px;

}
.search{			
	width: 481px;
	margin: 0 auto;
	margin-top: 19px;
	border: 2px solid #52bbdb;
}
.search #txt{	
	width: 428px;
	height: 34px;		
}
.search #sea{
	float: right;
	/*float: left;*/
}
.city{
	width: 388px;
	margin: 0 auto;
	margin-top: 14px;
}
.city li{
	float: left;
	font-size: 13px;
	font-family: arial;
	color: #9f9f9f;
	margin-right: 15px;
	/*border: 1px solid red;*/
}
.city .yunnan{
	margin-right: 0;
}

/*   terms   的css  样式*/
.terms{
	border:1px solid #dadada;
}

.terms li{
	float: left;
	font-family: arial;
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 15px;

	
}
.all{
	background-color: #50bbdb;
	color: #fff;
    padding: 4px 13px;
    margin-right: 25px;
    
}
.trip{
	margin-left: 20px;
	margin-right: 20px;
}
.more{
	margin-right: 17px;
	margin-left: 20px;
}


.list_city{
	border-bottom:1px dashed #dadada
}
#terms_city li span a{
	margin-right:29px;
	text-decoration: none;
	color:#999999;
}
.list_day{
	border-bottom:1px dashed #dadada
}
#terms_day li span a{
	margin-right:20px;
	text-decoration: none;
	color:#999999;
}
#terms_time li span a{
	margin-right:15px;
	text-decoration: none;
	color:#999999;
}


/*//select  de css 样式*/
.select{
	border: 1px solid #d0d1d1;
	margin-top: 21px;
}
#select_list li{
	font-size: 14px;
	font-family: arial;
	float: left;
	line-height: 56px;
	width: 104px;
	text-align: center;
	border-right: 1px solid #d0d1d1;
}
#select_list li span{
	color: #999999;
}
#select_list li img{
	margin-left: 5px;
}
#select_right{
	float: right;
	margin-right: 6px;
}
#select_right li{
	float: left;
	height: 56px;
}

#select_right .right1 {

	padding-right: 20px;
	padding-left: 17px;
	height: 28px;
	color: #999999;
	border: 1px solid #999999;
	text-decoration:none;
	text-align: center;
	margin-top: 14px;
	line-height: 28px;

}
#select_right .r2{
	margin-right: 6px;
}
#select_right span{
	line-height: 56px;
	margin-right: 25px;
	font-size: 14px;
	font-family: arial;
	color: #999999;
}