*{
	margin: 0px;
	padding: 0px;
}
#top{
	height: 45px;
	background-color: #244d5f;
}
#top .top-1{
	height: 45px;
	width: 999px;
	margin: 0 auto;
	line-height: 45px;
}
#top .top-1 .top-1-1{
	height: 45px;
	width: 114px;
	float: left;
}
#top .top-1 .top-1-1 div{
	float: left;
}
#top .top-1 .top-1-1 p{
	float: left;
	margin-left: 13px;
	color: #fff;
	font-family: 微软雅黑;
	font-size: 16px;
}
#top .top-1 .top-1-1 img{
	margin-top: 12px;
}
#top .top-1 .top-1-1 a{
	margin-left: 15px;
	color: #c4cdd2;
	text-decoration: none;
	font-family: 微软雅黑;
	font-size: 16px;
}
#top .top-1 .top-1-2{
	float: left;
	height: 45px;
	margin-left: 74px;
}
#top .top-1 .top-1-2 div{
	height: 45px;
}
#top .top-1 .top-1-2 img{
	margin-top: 12px;
	float: left;
}
#top .top-1 .top-1-2 div a{
	color: #fff;
	font-family: 微软雅黑;
	font-size: 16px;
	margin-left: 12px;
	text-decoration: none;
}
#top .top-1 .top-1-3{
	float: right;
	height: 45px;
}
#top .top-1 .top-1-3 img{
	margin-top: 10px;
}
#top .top-1 .top-1-3 .qq{
	margin-right: 17px;
}
#top .top-1 .top-1-3 .sina{
	margin-right: 26px;
}
#top .top-1 .top-1-3 div{
	float: right;
}
#top .top-1 .top-1-3 hr{
	height: 16px;
	width: 1px;
	display:inline;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 14px;
	float: right;
}
#top .top-1 .top-1-3 a{
	font-family: 微软雅黑;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	float: right;
}
#header{
	height: 79px;
	border-bottom: 1px solid #cccccc;
}
#header .header1{
	height: 79px;
	width: 999px;
	margin: 0 auto;
}
#header .header1 .logo{
	float: left;
	margin-top: 8px;
}
#header .header1 .list{
	float: right;
}
#header .header1 .list li{
	list-style: none;
	float: left;
	/*margin-left: 38px;*/
}
#header .header1 .list a{
	display: block;
	height: 79px;
	width: 80px;
	text-align: center;
	line-height: 79px;
	font-family: 微软雅黑;
	font-size: 16px;
	color: #333333; 
	text-decoration: none;
}
#banner{
	width: 999px;
	overflow:hidden;
	margin: 0 auto;
}
#banner #banner-left{
	float: left;
}
#banner .banner1{
	font-family: 微软雅黑;
	font-size: 12px;
	color: #999999; 
	height: 43px;
	line-height: 43px;
}
#banner .banner1 .view{
	width: 499px;
	height: 282px;
}
#banner .lunbotu{
	height: 53px;
	width: 499px;
	margin-top: 9px;
}
#banner .lunbotu .zuo{
	float: left;
}
#banner .lunbotu .you{
	float: right;
}
#banner .lunbotu .viewlist{
	float: left;
	
}
#banner .lunbotu .viewlist li{
	float: left;
	list-style: none;
	width: 100px;
	height: 54px;
	margin-left: 9px;
}
#banner #banner-right{
	width: 499px;
	height: 710px;
	margin-top: 43px;
	float: right;
	border-top: 1px solid #e5e5e5;
	border-bottom:  1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5; 
}
#banner #banner-right h3{
	font-family: 微软雅黑;
	font-size: 22px;
	color: #333333;
	margin-left: 48px;
	margin-top: 16px;
	margin-bottom: 19px;
}
#banner #banner-right .wenzi{
	font-family: 微软雅黑;
	font-size: 14px;
	color: #666666;
	margin-left: 50px;
	margin-right: 24px;
	line-height: 24px;
}
#banner #banner-right .baoming{
	width: 436px;
	height: 78px;
	background-color: #f6f3f3;
	margin-top: 21px;
	margin-left: 50px;
}
#banner #banner-right .baoming .aizijia{
	font-family: 微软雅黑;
	font-size: 14px;
	color: #333333;
	margin-left: 0px;
	line-height: 78px;
	float: left;
}
#banner #banner-right .baoming .aizijia .qi{
	font-family: 微软雅黑;
	font-size: 14px;
	color: #f0851a;
}
#banner #banner-right .baoming .aizijia .money{
	font-family: 微软雅黑;
	font-size: 24px;
	color: #f0851a;
}
#banner #banner-right .baoming .btn{
	background-color: #50bbdb;
	width: 93px;
	height: 35px;
	font-family: 微软雅黑;
	font-size: 16px;
	color: #ffffff;
	float: left;
	margin-left: 50px;
	margin-top: 22px;
	float: left;
}
#banner #banner-right .baoming a{
	display: block;
	height: 19px;
	width: 80px;
	margin-right: 18px;
	margin-top: 30px;
	text-decoration: none;
	float: right;
}
#banner #banner-right .baoming a span{
	font-family: 微软雅黑;
	font-size: 16px;
	color: #999999;
	margin-left: 9px;
}
#banner #banner-right .chuyou{
	margin-left: 50px;
	padding-bottom: 21px;
	border-bottom: 1px solid #e5e5e5;
}
#banner #banner-right .chuyou .chuyou1{
	margin-top: 22px;
	list-style: none;
	height: 32px;
	line-height: 32px;
}
#banner #banner-right .chuyou .chuyou1 .txt{
	width: 349px;
	height: 28px;
}
#banner #banner-right .chuyou .chuyou1 .chuyourenshu{
	display: block;
	float: left;
}
#banner #banner-right .chuyou .chuyou1 ul{
	width: 114px;
	height: 30px;
	float: left;
}
#banner #banner-right .chuyou .chuyou1 ul li{
	float: left;
	list-style: none;
	width: 34px;
	height: 28px;
	border: 1px solid #cccccc;
	line-height: 28px;
	text-align: center;
	color: #999999;
}
#banner #banner-right .chuyou .chuyou1 p{
	float: left;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #999999;
	margin-left: 6px;
}
#banner #banner-right .chuyou .renshu2{
	margin-left: 9px;
}
#banner #banner-right .chuyou .ertong{
	font-family: 微软雅黑;
	font-size: 12px;
	color: #f0851a;
	text-decoration: none;
	display: block;
	float: left;
	margin-left: 7px;
}
#banner #banner-right .chuyou .chuyou1 .luxian{
	font-family: 微软雅黑;
	font-size: 14px;
	color: #999999;
}
#banner #banner-right .chuyou .chuyou1 .xiangqing{
	font-family: 微软雅黑;
	font-size: 14px;
	color: #f0851a;
}
#banner #banner-right .dingzhi img{
	margin-left: 50px;	
	margin-top: 6px;
	float: left;
}
#banner #banner-right .dingzhi p{
	float: left;
	font-family: 微软雅黑;
	font-size: 18px;
	color: #666666;
	margin-left: 13px;
	margin-top: 20px;
}

#dingwei{
	width: 47px;
	position: absolute;
	top: 168px;
	left: 115px;
}
#dingwei p{
	font-family: 微软雅黑;
	font-size: 14px;
	color: #333333;
	float: right;

}
#dingwei ul{
	padding-top: 32px;
}
#dingwei ul li{
	margin-top: 24px;
	height: 36px;
	width: 47px;
	list-style: none;
}

#lingdui{
	width: 999px;
	margin: 0 auto;
	overflow: hidden;
}
#lingdui .lan{
	width: 5px;
	height: 44px;
	background-color: #50bbdb;
	float: left;
}
#lingdui h4{
	font-family: 微软雅黑;
	font-size: 18px;
	color: #666666;
	line-height: 44px;
	margin-left: 10px;
}
#lingdui .lang{
	width: 145px;
	text-align: center;
	margin-top: 17px;
	float: left;
}
#lingdui .lang .zgzj{
	margin-top: 20px;
}
#lingdui .duanluo{
	float: left;
	width: 747px;
	margin-left: 67px;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #666666;
	line-height: 32px;
}
#lishi{
	width: 999px;
	margin: 0 auto;
	margin-top: 48px;
	overflow: hidden;
}
#lishi h4{
	font-family: 微软雅黑;
	font-size: 18px;
	color: #333333;
}
#lishi .kuang{
	width: 997px;
	height: 198px;
	border: 1px solid #e5e5e5;
	margin-top: 21px;
}
#lishi .kuang .zutuan{
	height: 94px;
	line-height: 94px;
	margin-top: 45px;
}
#lishi .kuang .zutuan .xiaozuo{
	float: left;
	height: 15px;
	margin-left: 3px;
}
#lishi .kuang .zutuan ul{
	float: left;
	margin-left: -10px;
}
#lishi .kuang .zutuan ul li{
	float: left;
	list-style: none;
	width: 226px;
	margin-left: 18px;
}
#lishi .kuang .zutuan ul li img{
	display: block;
	float: left;
}
#lishi .kuang .zutuan ul li p{
	float: left;
	font-family: 微软雅黑;
	font-size: 12px;
	color: #666666;
	width: 75px;
	height: 94px;
	line-height: 19px;
	margin-left: 8px;
}
#lishi .kuang .zutuan .xiaoyou{
	float: right;
	height: 15px;
}
#xingcheng{
	width: 999px;
	margin: 0 auto;
	overflow: hidden;
}
#xingcheng .xclist{
	margin-top: 53px;
	overflow: hidden;
}
#xingcheng .xclist li{
	list-style: none;
	float: left;
	width: 96px;
	height: 41px;
	border: 1px solid #e5e5e5;
	line-height: 41px;
	text-align: center;
	font-family: 微软雅黑;
	font-size: 16px;
	color: #999999;
}
#xingcheng .dakuang{
	width: 999px;
	border: 1px solid #e5e5e5;
	margin: 0 auto;
	overflow: hidden;
}
#xingcheng .dakuang .bigxcjj{
	overflow: hidden;
}
#xingcheng .dakuang .xcjj{
	margin-top: 58px;
	margin-left: 35px;
}
#xingcheng .dakuang .liucheng{
	margin-top: 38px;
	margin-left: 8px;
	float: left;
}
#xingcheng .dakuang .tian{
	float: left;
}
#xingcheng .dakuang .tian h3{
	font-family: 微软雅黑;
	font-size: 22px;
	color: #50bbdb;
	padding-top: 42px;
	margin-left: 31px;
	width: 828px;
	padding-bottom: 16px;
	border-bottom: 1px solid #e5e5e5;
}
#xingcheng .dakuang .tian .kunming{
	font-family: 微软雅黑;
	font-size: 16px;
	color: #333333;
	padding-top: 25px;
	margin-left: 33px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #e5e5e5;
}
#xingcheng .dakuang .tian .canshi{
	font-family: 微软雅黑;
	font-size: 16px;
	color: #999999;
	padding-top: 28px;
	margin-left: 33px;
	width: 829px;
	line-height: 26px;
}
#xingcheng .dakuang .tian .tian1{
	margin-left: 33px;
	margin-top: 29px;
}
#xingcheng .dakuang .tian .tian2{
	margin-left: 15px;
	margin-top: 29px;
}
#xingcheng .dakuang .tian .xvxian{
	height: 44px;
	border-bottom: 1px dashed #e5e5e5;
}
#xingcheng .dakuang .feiyong{
	margin-top: 115px;
	margin-left: 34px;
}
#xingcheng .dakuang .feiyong p{
	font-family: 微软雅黑;
	font-size: 16px;
	color: #333333;
	line-height: 25px;
}
#xingcheng .dakuang .feiyong p span{
	color: #999999;
}
#xingcheng .dakuang .qita img{
	margin-top: 81px;
	margin-left: 34px;
}
#xingcheng .dakuang .qita p{
	margin-left: 34px;
	font-family: 微软雅黑;
	font-size: 16px;
	color: #999999;
	line-height: 25px;
}
#xingcheng .dakuang .qita p span{
	color: #333333;
}
#xingcheng .dakuang .yonghu .dp{
	margin-top: 93px;
	margin-left: 34px;
}
#xingcheng .dakuang .yonghu .dianping{
	width: 943px;
	height: 107px;
	margin-left: 34px;
	border-bottom: 1px solid #e5e5e5;
}
#xingcheng .dakuang .yonghu .dianping .yhdp{
	width: 110px;
	height: 33px;
	background-color: #50bbdb;
	margin-top: 43px;
	line-height: 33px;
	text-align: center;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #ffffff;
	float: left;
} 
#xingcheng .dakuang .yonghu .dianping .zh{
	float: left;
	margin-left: 26px;
	margin-top: 48px;
	font-family: 微软雅黑;
	font-size: 16px;
	color: #333333;
}
#xingcheng .dakuang .yonghu .dianping img{
	float: left;
	margin-top: 48px;
	margin-left: 13px;
}
#xingcheng .dakuang .yonghu .e29{
	overflow: hidden;
	width: 943px;
	margin-left: 34px;
	border-bottom: 1px dashed #e5e5e5;
}
#xingcheng .dakuang .yonghu .e29 .e29-1{
	float: left;
	overflow: hidden;
	margin-top: 54px;
}
#xingcheng .dakuang .yonghu .e29 .e29-1 p{
	font-family: 微软雅黑;
	font-size: 14px;
	color: #333333;
	margin-top: 14px;
}
#xingcheng .dakuang .yonghu .e29 .e29-2{
	float: left;
	overflow: hidden;
	margin-left: 45px;
}
#xingcheng .dakuang .yonghu .e29 .e29-2 .manyi{
	width: 677px;
	height: 26px;
	line-height: 26px;
	padding-left: 8px;
	background-color: #f0f0f0;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #999999;
	margin-top: 33px;
}
#xingcheng .dakuang .yonghu .e29 .e29-2 .manyi img{
	margin-left: 63px;
}
#xingcheng .dakuang .yonghu .e29 .e29-2 .hao{
	font-family: 微软雅黑;
	font-size: 14px;
	color: #333333;
	height: 57px;
	line-height: 57px;
}
#xingcheng .dakuang .yonghu .e29 .e29-2 .lz{
	font-family: 微软雅黑;
	font-size: 14px;
	color: #999999;
	margin-top: 20px;
	padding-bottom: 36px;
}
.hao2{
	font-family: 微软雅黑;
	font-size: 14px;
	color: #333333;
	height: 326px;
	width: 802px;
	margin-top: 32px;
}
#xingcheng .dakuang .yonghu .e29 .e29-2 .hao2 span{
	font-family: 微软雅黑;
	font-size: 16px;
	color: #999999;
}
#xingcheng .dakuang .yonghu .e29 .e29-2 .kefu{
	width: 807px;
	height: 153px;
	background-color: #f4f4f4;
}
#xingcheng .dakuang .yonghu .e29 .e29-2 .kefu h3{
	font-family: 微软雅黑;
	font-size: 16px;
	color: #ea581b;
	padding-top: 17px;
	padding-left: 8px;
	float: left;
}
#xingcheng .dakuang .yonghu .e29 .e29-2 .kefu p{
	font-family: 微软雅黑;
	font-size: 14px;
	color: #333333;
	width: 643px;
	float: left;
	line-height: 23px;
	margin-top: 45px;
}
.hao3{
	font-family: 微软雅黑;
	font-size: 14px;
	color: #333333;
	overflow: hidden;
	width: 802px;
	margin-top: 32px;
}
#xingcheng .dakuang .yonghu .e29 .e29-2 .hao3 span{
	font-family: 微软雅黑;
	font-size: 16px;
	color: #999999;
}
#xingcheng .dakuang .chakan{
	height: 94px;
	width: 943px;
	margin-left: 45px;
}
#xingcheng .dakuang .chakan a{
	display: block;
	float: left;
	margin-top: 31px;
	text-decoration: none;
	color: #50bbdb;
	font-family: 微软雅黑;
	font-size: 14px;
}
#xingcheng .dakuang .chakan .next{
	float: right;
}
#xingcheng .dakuang .chakan .next ul{
	height: 27px;
	margin-top: 31px;
	float: left;
}
#xingcheng .dakuang .chakan .next ul li{
	float: left;
	height: 25px;
	min-width: 36px;
	line-height: 25px;
	text-align: center;
	list-style: none;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #50bbdb;
	border: 1px solid #e5e5e5;
}
#xingcheng .dakuang .chakan .next p{
	float: left;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #999999;
	width: 45px;
	height: 27px;
	text-align: center;
	line-height: 27px;
	margin-top: 31px;
}
#xingcheng .dakuang .chakan .next .yema{
	float: left;
	margin-top: 31px;
	width: 36px;
	height: 25px;
	border: 1px solid #e5e5e5;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #333333;
	text-align: center;
	line-height: 25px;
}
#footer{
	margin-top: 58px;
	overflow: hidden;
}
#footer .footer1{
	height: 50px;
	background-color: #444b55;
}
#footer .footer1 ul{
	width: 999px;
	margin: 0 auto;
	line-height: 50px;
	overflow: hidden;
}
#footer .footer1 ul li{
	float: left;
	font-family: 微软雅黑;
	font-size: 16px;
	color: #ffffff;
	list-style: none;
	margin-left: 100px;
}
#footer .footer2{
	height: 41px;
	background-color: #565d65;
	text-align: center;
}
#footer .footer2 p{
	font-family: 微软雅黑;
	font-size: 18px;
	color: #ffffff;
	line-height: 41px;
}