*{
	padding: 0px;
	margin:0px;
}
#header{
	height: 525px;
	width: 100%;

}
.header-top{
	width: 100%;
	height: 45px;
	background-color: #244d5f;
}
#header .top{
	width: 1004px;
	height: 45px;
	background-color: #244d5f;
	position:relative;
	margin:0 auto;
}
#header .top .pic1{
	position:absolute;
	top:12px;
	left:0px;
}
.top .s1{
	margin-left:29px;
	color:#c5d0d4;
	text-align: center;
	line-height: 45px;
	font-weight: bold;
	font-family: Regular;
	font-size: 15px;
}
.top .s2{
	margin-left:15px;
	text-align: center;
	line-height: 45px;
	color:#a1aaaf;
	font-weight: bold;
	font-family: Regular;
	font-size: 15px;
}
#header .top .pic2{
	position:absolute;
	top:12px;
	left:188px;
}
.top .s3{
	margin-left:99px;
	text-align: center;
	line-height: 45px;
	color:#c5d0d4;
	font-weight: bold;
	font-family: Regular;
	font-size: 15px;

}
#header .top .pic3{
position:absolute;
	top:12px;
	left:815px;
}
#header .top .pic4{
position:absolute;
	top:12px;
	left:855px;
}
.top .s4{
	margin-left:585px;
	text-align: center;
	line-height: 45px;
	color:#c5d0d4;
	font-weight: bold;
	font-family: Regular;
	font-size: 15px;

}
.top .s5{
	margin-left:9px;
	text-align: center;
	line-height: 45px;
	color:#c5d0d4;
	font-weight: bold;
	font-family: Regular;
	font-size: 15px;

}
.header-logo{
	width: 100%;
	height: 80px;
}
.header-logo .logo{
	width: 1004px;
	height: 80px;
	margin:0 auto;
	position:relative;
	/*background-color: pink;*/
}
.logo .pic5{
	position:absolute;
	top:8px;
	left:0px;
}

.logo .list{
	list-style: none;
	margin-left:302px;
}
.logo .list li{

	margin-left: 36px;
	float:left;


}
.logo .list li a{
	text-decoration: none;
	color:#4e4e4e;
	line-height: 80px;
	text-align: center;
	font-size:15px;
	font-family: regular;
}
.logo .list li span{
	width: 80px;
	height: 80px;
	display: block;
	background-color:#50bbdb;
}
.header-banner img{
	width: 100%;
	height:400px;
	clear:both;
}
#container{
	width: 1004px;
	height: 3074px;
	/*background-color: pink;*/
	margin:0 auto;
}
.container-top{
	height: 126px;
	width: 1004px;
	position:relative;
	clear:both;

}
.container-top input{
	width: 428px;
	height: 34px;
	border:2px solid #52bbdb;
	margin-left:262px;
	margin-top:41px;
}
.container-top .pic7{
	position:absolute;
	top:41px;
	left:689px;
}
.container-top input:hover{
	cursor:pointer;
}
.container-top .pic7:hover{
	cursor:pointer;
}
.container-top .list2{
	list-style: none;
	margin-left: 261px;
	margin-top: 14px;
}
.container-top .list2 li{
	float:left;
	font-size: 13px;
	color:#b7b7b7;
	margin-left: 15px;
	font-weight: bold;
}
.container-jingnei{
	width: 1004px;
	height: 2769px;
	margin:0 auto;

}
.container-jingnei p{
	height: 36px;
	width: 1004px;
	/*background-color: red;*/

}
.container-jingnei .s6{
	font-size: 27px;
	font-weight: bold;
	color:#58667d;
}
.container-jingnei .s7{
	font-size: 22px;
	font-weight: 500;
	color:#999999;
	margin-left:37px;
	padding-top: 5px;
}
.jingnei{
	width: 1004px;
	height: 2761px;
	border-top: 1px solid #abb2be;


}
.box1{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 26px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box1 .pic8{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box1 .pic9{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box1 .box1-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box1 .box1-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box1 .box1-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box1 .box1-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box1-3 .pic10{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box1-3 .s9{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:60px;
}
.jingnei .box1-3 .pic11{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box1-3 .s10{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box1-3 .pic12{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box1-3 .s11{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*第二*/
.box2{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 26px;
	margin-left:7px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box2 .pic13{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box2 .pic14{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box2 .box2-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box2 .box2-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box2 .box2-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box2 .box2-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box2-3 .pic15{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box2-3 .s12{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box2-3 .pic16{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box2-3 .s13{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box2-3 .pic17{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box2-3 .s14{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*san*/
.box3{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 26px;
	margin-left:7px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box3 .pic18{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box3 .pic19{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box3 .box3-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box3 .box3-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box3 .box3-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box3 .box3-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box3-3 .pic20{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box3-3 .s15{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box3-3 .pic21{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box3-3 .s16{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box3-3 .pic22{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box3-3 .s17{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*si*/
.box4{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 9px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box4 .pic23{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box4 .pic24{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box4 .box4-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box4 .box4-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box4 .box4-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box4 .box4-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box4-3 .pic25{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box4-3 .s18{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box4-3 .pic26{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box4-3 .s19{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box4-3 .pic27{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box4-3 .s20{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*wu*/
.box5{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 9px;
	margin-left:7px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box5 .pic28{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box5 .pic29{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box5 .box5-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box5 .box5-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box5 .box5-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box5 .box5-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box5-3 .pic30{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box5-3 .s21{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box5-3 .pic31{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box5-3 .s22{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box5-3 .pic32{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box5-3 .s23{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*liu*/
.box6{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 9px;
	margin-left:7px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box6 .pic33{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box6 .pic34{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box6 .box6-1{
	height: 69px;
	width: 328px;
	padding-top:274px;

}
.box6 .box6-1 .box6-p{
	width: 273px;
	height: 39px;
	line-height: 22px;
	font-weight: bold;
	color:#5c5c5c;
	margin-top: 21px;
	font-size:15px;
	padding-left: 22px;

}
.box6 .box6-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box6 .box6-2 span{
	padding-left:22px;
	color:#d9d9d9;
	margin-top: 8px;
}
.jingnei .box6-3 .pic35{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box6-3 .s24{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box6-3 .pic36{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box6-3 .s25{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box6-3 .pic37{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box6-3 .s26{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*qi*/
.box7{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 9px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box7 .pic38{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box7 .pic39{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box7 .box7-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box7 .box7-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box7 .box7-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box7 .box7-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box7-3 .pic40{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box7-3 .s27{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box7-3 .pic41{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box7-3 .s28{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box7-3 .pic42{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box7-3 .s29{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*ba*/
.box8{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 9px;
	margin-left: 7px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box8 .pic43{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box8 .pic44{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box8 .box8-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box8 .box8-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box8 .box8-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box8 .box8-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box8-3 .pic45{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box8-3 .s30{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box8-3 .pic46{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box8-3 .s31{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box8-3 .pic47{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box8-3 .s32{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*jiu*/
.box9{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 9px;
	margin-left: 7px;
	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box9 .pic48{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box9 .pic49{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box9 .box9-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box9 .box9-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box9 .box9-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box9 .box9-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box9-3 .pic50{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box9-3 .s33{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box9-3 .pic51{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box9-3 .s34{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box9-3 .pic52{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box9-3 .s35{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*shi*/
.box10{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 9px;

	/*background-color: pink;*/
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box10 .pic53{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box10 .pic54{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box10 .box10-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box10 .box10-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box10 .box10-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box10 .box10-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box10-3 .pic55{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box10-3 .s36{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box10-3 .pic56{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box10-3 .s37{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box10-3 .pic57{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box10-3 .s38{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*shiyi*/
.box11{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 9px;
	margin-left: 7px;
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box11 .pic58{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box11 .pic59{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box11 .box11-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box11 .box11-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box11 .box11-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box11 .box11-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box11-3 .pic60{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box11-3 .s39{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box11-3 .pic61{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box11-3 .s40{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box11-3 .pic62{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box11-3 .s41{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*shier*/
.box12{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 9px;
	margin-left: 7px;
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box12 .pic63{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box12 .pic64{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box12 .box12-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box12 .box12-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box12 .box12-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box12 .box12-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box12-3 .pic65{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box12-3 .s42{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box12-3 .pic66{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box12-3 .s43{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box12-3 .pic67{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box12-3 .s44{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*shisan*/
.box13{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 9px;
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box13 .pic68{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box13 .pic69{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box13 .box13-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box13 .box13-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box13 .box13-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box13 .box13-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box13-3 .pic70{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box13-3 .s45{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box13-3 .pic71{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box13-3 .s46{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box13-3 .pic72{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box13-3 .s47{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*shisi*/
.box14{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 9px;
	margin-left: 7px;
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box14 .pic73{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box14 .pic74{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box14 .box14-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box14 .box14-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box14 .box14-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box14 .box14-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box14-3 .pic75{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box14-3 .s48{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box14-3 .pic76{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box14-3 .s49{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box14-3 .pic77{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box14-3 .s50{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*shiwu*/
.box15{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 9px;
	margin-left: 7px;
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box15 .pic78{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box15 .pic79{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box15 .box15-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box15 .box15-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box15 .box15-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box15 .box15-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box15-3 .pic80{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box15-3 .s51{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box15-3 .pic81{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box15-3 .s52{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box15-3 .pic82{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box15-3 .s53{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*shiliu*/
.box16{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 9px;

	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box16 .pic83{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box16 .pic84{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box16 .box16-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box16 .box16-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box16 .box16-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box16 .box16-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box16-3 .pic85{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box16-3 .s54{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box16-3 .pic86{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box16-3 .s55{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box16-3 .pic87{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box16-3 .s56{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*shiqi*/
.box17{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 9px;
	margin-left: 7px;
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box17 .pic88{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box17 .pic89{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box17 .box17-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box17 .box17-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box17 .box17-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box17 .box17-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box17-3 .pic90{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box17-3 .s57{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box17-3 .pic91{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box17-3 .s58{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box17-3 .pic92{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box17-3 .s59{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
/*shiba*/
.box18{
	width: 328px;
	height: 442px;
	position:relative;
	margin-top: 9px;
	margin-left: 7px;
	float:left;
	border:1px solid #d1cfcf;
}
.jingnei .box18 .pic93{
	position:absolute;
	top:0px;
	left:0px;
}
.jingnei .box18 .pic94{
	position:absolute;
	top:223px;
	left:0px;
}
.jingnei .box18 .box18-1{
	height: 57px;
	width: 328px;
	padding-top:274px;

}
.box18 .box18-1 span{
	line-height: 57px;
	font-weight: bold;
	color:#5c5c5c;
	text-align: center;
	font-size:15px;
	padding-left: 22px;

}
.box18 .box18-2{
	height: 12px;
	width: 328px;
	line-height: 12px;

}
.box18 .box18-2 span{
	padding-left:22px;
	color:#d9d9d9;
}
.jingnei .box18-3 .pic95{
	position:absolute;
	top:378px;
	left:22px;
}
.jingnei .box18-3 .s60{
	font-size: 12px;
	color:#7a7a7a;
	position:absolute;
	top:390px;
	left:57px;
}
.jingnei .box18-3 .pic96{
	position:absolute;
	top:389px;
	left:229px;
}
.jingnei .box18-3 .s61{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:250px;
}
.jingnei .box18-3 .pic97{
	position:absolute;
	top:389px;
	left:273px;
}
.jingnei .box18-3 .s62{
	font-size: 11px;
	color:#7a7a7a;
	position:absolute;
	top:388px;
	left:293px;
}
#container-dig{
	height: 186px;
	/*background-color: black;*/
	position:relative;
}
.dig-list{
	list-style: none;

}
.dig-list li{
	float:left;
}

.dig-list .d1{
	position:absolute;
	top:60px;
	left:577px;
}
.dig-list .d2{
	position:absolute;
	top:60px;
	left:626px;
}
.dig-list .d3{
	position:absolute;
	top:60px;
	left:672px;
}
.dig-list .d4{
	position:absolute;
	top:60px;
	left:718px;
}
.dig-list .d5{
	position:absolute;
	top:60px;
	left:766px;
}
.dig-list .d6{
	position:absolute;
	top:60px;
	left:816px;
}
.dig-list .d7{
	position:absolute;
	top:60px;
	left:865px;
}
.dig-list .d8{
	position:absolute;
	top:60px;
	left:911px;
}

#footer{
	height: 91px;
	width: 100%;

}
#footer .footer-top{
	height: 50px;
	width: 100%;
	background-color:#444b55;
}
#footer .footer-top .top-center{
	height: 54px;
	width: 1003px;
	margin:0 auto;

	/*background-color: red;*/
	position:relative;
}
.top-center .lebal{
	list-style: none;
}
.lebal li{
	float:left;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	color:#ffffff;
	font-family: rehular;
}
.lebal .l1{
	position:absolute;
	left:93px;
}
.lebal .l2{
	position:absolute;
	left:322px;
}
.lebal .l3{
	position:absolute;
	left:512px;
}
.lebal .l4{
	position:absolute;
	left:710px;
}
.lebal .l5{
	position:absolute;
	left:890px;
}
.footer-dig{
	height: 41px;
	width: 100%;
	background-color:#565d65;
}
.footer-dig .dig-center{
/*	height: 41px;*/
	width: 1003px;
	margin:0 auto;

	position:relative;
}
.lebal2{
	list-style: none;
}
.lebal2 li{
	float:left;
	font-size:17px;
	color:#ffffff;
	line-height: 41px;
	text-align: center;
}
.lebal2 .l6{
	position:absolute;
	left:295px;
}
.lebal2 .l7{
	position:absolute;
	left:558px;
}