*{
		margin: 0px;
		padding: 0px;
	}
	.clearfix:before,.clearfix:after{
		content:""; 
    	display:table; 
	} 
	.clearfix:after{clear:both;} 
	.clearfix{ 
    *zoom:1;
	} 
	#header{
		/*width: 1920px;*/
		
		background-color: #fff;
	}
	
	.top{
		/*width: 1920px;*/
		background-color: #244d5f;
	}
	.top-inner{
		width: 1002px;
		background-color: #244d5f;
		margin: 0 auto;
	}
	.topbox-l{
		float: left;
		display: inline-block;
	   	margin-left: 13px;
	    padding-right: 24px;
	    font-size: 16px;
	    color: #FFF;
	    line-height: 45px;
	    list-style:none;
	}
	.topbox-l a{
		margin-left: 15px;
		float: left;
		line-height: 45px;
		font-family: "微软雅黑";
		font-size: 16px;
		text-align: center;
		color: #fff;
		text-decoration: none;
	}
	.topbox-l a img{
		margin-right: 10px;
	}
	.topbox-l .adress{
		margin-right: 38px;
	}
	.topbox-l .adress span{
		margin-left: 10px;
		color: #ccc;
	}
	.topbox-r{
		float: right;
  		display: inline-block;
 		margin-right: 13px;
  		padding-right: 24px;
  		font-size: 16px;
  		color: #FFF;
  		line-height: 45px;
	}
	.topbox-r a{
		margin: 0;
		padding: 0;
		 border: 0;
		float: left;
		line-height: 45px;
		font-family: "微软雅黑";
		font-size: 16px;
		text-align: center;
		color: #fff;
		text-decoration: none;
	}
	.topbox-r a.qq{
		margin-right: 10px;
	}
	.topbox-r a.sina{
		margin-right: 18px;
	}
	.topbox-r a img{
		text-align: center;
	}
	.topbox-r span{
		  margin: 0px 9px;
		  float: left;
		  display: inline-block;
	}
	

	.logonav{
		/*width: 1920px;*/
		background-color: #fff;
		margin: 0 auto;
	}
	
	.logonav a img{
		margin-left: 180px;
		margin-top: 10px;
		float: left;
	}
	.logonav ul{
		width: 680px;
		float: left;
		margin-left:180px;
		list-style: none;
	}
	
	.logonav ul li a{
		  float: left;
		  display: inline-block;
		  font-family: "微软雅黑";
		  padding: 0px 18px;
		  line-height: 80px;
		  font-size: 16px;
		  color: #333333;
		  text-decoration: none;
	}
	.logonav ul li a:hover{
		color: #fff;
		background: url(../images/menubg.png) left bottom repeat-x #50bbdb;
  		text-decoration: none;
	}
	.banner{
		background-color: #82d5f7;
	}
	.banner-inner{
		width: 1002px;

		background-color: #82d5f7;
		margin: 0 auto;
	}

	#main{
		padding-top: 44px;
		width: 1002px;

		background-color: #fff;
		margin: 0 auto;
		
	}
	.main_top{
		/*padding-top: 44px;*/
		width: 1002px;
		height: 273px;
		/*background-color: #333;*/
		border: 1px solid #cccccc;
		/*border: 1px solid #e6e6e6;*/
	}
	.biaozhi{
		width: 324px;
		height: 74px;
	}
	.biaozhi img{
	  margin-left:9px; 
	  margin-top:20px;
	  float: left;
	}
	.abc{
		font-family: 微软雅黑;
		font-size: 24px;
		line-height: 74px;
		color: #000;
		float: left;
		margin-left: 5px;
	}
	.ab{
		font-size: 16px;
		font-family: 微软雅黑;
		color: #b4b4b4;
		float: left;
		margin-top: 29px;
		margin-left: 5px;
	}
	.biaodan{
		width: 300px;
		height: 168px;
		margin-left: 255px;
		/*background-color: #f00;*/
	}
	.text1{
		width: 300px;
		height: 38px;
	}
	.text1 p{
		float: left;
		margin-left: 32px;
		line-height: 38px;
		font-size: 16px;
		font-family: 微软雅黑;
		color: #333333;
	/*	font-weight: bolder;*/
	}
	.username{
		float: left;
		margin-left: 16px;
		width: 213px;
		height: 38px;
	}
	.text2{
		width: 300px;
		height: 38px;
		margin-top: 25px;
	}
	.text2 p{
		float: left;
		line-height: 38px;
		font-size: 16px;
		font-family: 微软雅黑;
		color: #333333;
	}
	.fangshi{
		float: left;
		margin-left: 16px;
		width: 213px;
		height: 38px;
	}
	.text3{
		width: 300px;
		height: 38px;
		margin-top: 25px;
	}
	.text3 p{
		float: left;
		margin-left: 32px;
		line-height: 38px;
		font-size: 16px;
		font-family: 微软雅黑;
		color: #333333;
	}
	.youxiang{
		float: left;
		margin-left: 16px;
		width: 213px;
		height: 38px;
	}
	.main_mid{
		margin-top: 37px;
		width: 1002px;
		height: 511px;
		/*background-color: #567;*/
		border: 1px solid #cccccc;
	}
	.information{
		width: 252px;
		height: 79px;

	}
	.information img{
		float: left;
		margin-left: 26px;
		margin-top: 29px;
		margin-right: 13px;
	}
	.base1{
		float: left;
		font-size: 24px;
		font-family: 微软雅黑;
		color: #696969;
		margin-right: 6px;
		margin-top: 32px;
	}
	.base2{
		float: left;
		font-size: 16px;
		font-family: 微软雅黑;
		color: #999;
		margin-top: 40px;
	}
	.chuyou{
		width: 724px;
		height: 432px;
		margin-left: 252px;
	}
	.fenlei{
		width: 375px;
		height: 63px;
	}
	.firstbox{
		height: 36px;
		width: 72px;
		float: left;
	}
	.firstbox p{
		height: 36px;
		width: 72px;
		float: left;
		margin-top: 10px;
		/*color: #696969;*/
	}
	.bigbox{
		width: 210px;
		height: 36px;
		float: left;
		list-style: none;
		margin-left: 16px;
	}
	.leftbox{
		width: 103px;
		height: 34px;
		float: left;
		border: 1px solid #999;
	}
	.leftbox p{
		width: 103px;
		height: 34px;
		font-size: 16px;
		font-family: 微软雅黑;
		line-height: 34px;
		text-align: center;
		/*color: #696969;*/
	}
	.rightbox{
		width: 103px;
		height: 34px;
		float: left;
		border: 1px solid #999;
	}
	.rightbox p{
		width: 103px;
		height: 34px;
		font-size: 16px;
		font-family: 微软雅黑;
		line-height: 34px;
		text-align: center;
		background-color: #50bbdb;
	}
	.chufadi{
		width: 375px;
		height: 63px;

	}
	.chufadi p{
		margin-left: 17px;
		float: left;
		margin-top: 10px;
	}
	.te1{
		float: left;
		margin-left: 21px;
		width: 215px;
		height: 38px;
	}
	.mudi{
		width: 375px;
		height: 63px;
	}
	.mudi p{
		margin-top: 10px;
		float: left;
		margin-left: 17px;
	}
	.te2{
		float: left;
		margin-left: 21px;
		width: 215px;
		height: 38px;
	}
	.riqi{
		width: 520px;
		height: 40px;
		margin-bottom: 22px;
	}
	.riqi p{
		margin-top: 10px;
		float: left;
		
	}
	.te3{
		float: left;
		margin-left: 21px;
		width: 190px;
		height: 38px;
	}
	.riqi span{
		width: 42px;
		height: 38px;

	}
	.te33{
		width: 190px;
		height: 38px;
	}
	.tianshu{
		width: 520px;
		height: 40px;
		margin-bottom: 20px;

	}
	.tianshu p{
		margin-top: 10px;
		float: left;

	}
	.tian{
		padding-left: 15px;
	}
	.te4{
		float: left;
		margin-left: 21px;
		width: 215px;
		height: 38px;
	}
	.renshu{
		width: 645px;
		height: 39px;
		margin-bottom: 20px;
	}
	.renshu p{
		margin-top: 10px;
		float: left;
	}
	.te5{
		float: left;
		margin-left: 21px;
		width: 215px;
		height: 38px;
	}
	.te55{
		float: left;
		margin-left: 20px;
		width: 215px;
		height: 38px;
	}
	.daren{
		padding-left: 15px;
	}
	.xiaohai{
		padding-left: 15px;
	}
	.renjun{
		width: 305px;
		height: 39px;
	}
	.renjun p{
		margin-top: 10px;
		float: left;
	}
	.te6{
		float: left;
		margin-left: 21px;
		width: 215px;
		height: 38px;
	}
	.main_bottom{
		margin-top: 38px;
		width: 1002px;
		height: 613px;
		/*background-color: #ff0;*/
		border: 1px solid #cccccc;
	}
	.wendang{
		width: 150px;
		height: 80px;
	}
	.wendang img{
		margin-left: 5px;
		margin-top: 26px;
		float: left;
	}
	.fuwu{
		float: left;
		margin-top: 32px;
		margin-left: 4px;
		font-family: 微软雅黑;
		font-size: 24px;
	}
	.zuihou{
		width: 605px;
		height: 400px;
		margin:0 auto;
	}
	.guojie{
		width: 386px;
		height: 38px;
	}
	.lvyou{
		line-height: 38px;
		float: left;
	}
	.buxian{
		width: 90px;
		height: 38px;
		border: 1px solid #000;
		margin-left: 13px;
		float: left;
		background-color: #50bbdb;
		line-height: 38px;
		text-align: center;
		font-family: 微软雅黑;
		font-size: 16px;
	}
	.jingnei{
		width: 90px;
		height: 38px;
		border: 1px solid #000;
		margin-left: 12px;
		margin-right: 12px;
		float: left;
		line-height: 38px;
		text-align: center;
		font-family: 微软雅黑;
		font-size: 16px;
	}
	.jingwai{
		width: 90px;
		height: 38px;
		border: 1px solid #000;
		float: left;
		line-height: 38px;
		text-align: center;
		font-family: 微软雅黑;
		font-size: 16px;
	}
	.anpai{
		width: 492px;
		height: 38px;
		margin-top: 24px;
	}
	.xingcheng{
		float: left;
		line-height: 38px;
	}
	.buxian1{
		width: 90px;
		height: 38px;
		float: left;
		border: 1px solid #000;
		margin-left: 12px;
		margin-right: 12px;
		background-color: #50bbdb;
		line-height: 38px;
		text-align: center;
		font-family: 微软雅黑;
		font-size: 16px;
	}
	.jincou{
		width: 90px;
		height: 38px;
		float: left;
		border: 1px solid #000;
		line-height: 38px;
		text-align: center;
		font-family: 微软雅黑;
		font-size: 16px;
	}
	.shizhong{
		width: 90px;
		height: 38px;
		float: left;
		border: 1px solid #000;
		margin-left: 12px;
		margin-right: 12px;
		line-height: 38px;
		text-align: center;
		font-family: 微软雅黑;
		font-size: 16px;
	}
	.kuansong{
		width: 90px;
		height: 38px;
		float: left;
		border: 1px solid #000;
		line-height: 38px;
		text-align: center;
		font-family: 微软雅黑;
		font-size: 16px;
	}
	.zhusu{
		margin-top: 24px;
		width: 600px;
		height: 38px;
	}
	.zhusuanpai{
		float: left;
		line-height: 38px;
	}
	.buxian2{
		width: 90px;
		height: 38px;
		float: left;
		border: 1px solid #000;
		margin-left: 12px;
		margin-right: 12px;
		background-color: #50bbdb;
		line-height: 38px;
		text-align: center;
		font-family: 微软雅黑;
		font-size: 16px;
	}
	.sanxing{
		width: 90px;
		height: 38px;
		float: left;
		border: 1px solid #000;
		line-height: 38px;
		text-align: center;
		font-family: 微软雅黑;
		font-size: 16px;
	}
	.sixing{
		width: 90px;
		height: 38px;
		float: left;
		border: 1px solid #000;
		margin-left: 12px;
		margin-right: 12px;
		line-height: 38px;
		text-align: center;
		font-family: 微软雅黑;
		font-size: 16px;
	}
	.wuxing{
		width: 90px;
		height: 38px;
		float: left;
		border: 1px solid #000;
		line-height: 38px;
		text-align: center;
		font-family: 微软雅黑;
		font-size: 16px;
	}
	.tesezhusu{
		width: 90px;
		height: 38px;
		float: left;
		border: 1px solid #000;
		margin-left: 12px;
		line-height: 38px;
		text-align: center;
		font-family: 微软雅黑;
		font-size: 16px;
	}
	.liuyan{
		width: 600px;
		height: 200px;
		margin-top: 24px;
	}
	.myask{
		font-size: 16px;
		font-family: 微软雅黑;
		color: #333;
		float: left;
	}
	.txt{
		margin-left: 12px;
		width: 515px;
		height: 200px;
		float: left;
	}
	.submit{
		width: 212px;
		height: 43px;
		background-color: #50bbdb;
		font-family: 微软雅黑;
		font-size: 24px;
		color: white;
		margin-left: 230px;
		margin-top: 45px;
	}
	#footer{
		/*width: 1920px;*/
		height: 91px;
		background-color: #fff;
	}
	.footer_top{
		/*width: 1002px;*/
		height: 50px;
		background-color: #444b55;
	}
	.bottom1{
		width: 1002px;
		height: 50px;
		margin:0 auto;
	}
	.bottom1 ul{
		list-style: none;
	}
	.bottom1 ul li{
		float: left;
		margin-left: 120px;
		

	}

	.bottom1 ul li a{
		text-decoration: none;
		font-family: 微软雅黑;
		font-size: 16px;
		line-height: 50px;
		color: white;
	}
	/*.footer_top-inner{
		width: 1002px;
		height: 50px;
		background-color: #444b55;
		margin: 0 auto;
	}*/
	.footer_bottom{
		/*width: 1002px;*/
		height: 50px;
		background-color: #565d65;
	}
	.beizhu{
		width: 1002px;
		height: 50px;
		background-color: #565d65;
		margin: 0 auto;
	}
	.chubanshe{
		margin-left: 260px;
		font-family: 微软雅黑;
		font-size: 16px;
		line-height: 50px;
		color: white;
		float: left;
	}
	.beihao{
		margin-left: 34px;
		font-family: 微软雅黑;
		font-size: 16px;
		line-height: 50px;
		color: white;
		float: left;
	}